/* All fonts import */

@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Fira+Code:wght@300;400;500;600;700&family=Lato:wght@400;700&family=Oswald:wght@500&family=Playpen+Sans:wght@400;500;600&family=Public+Sans:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;600&display=swap");
* {
  font-family: fira code;
  color: white;
}

body {
  background-color: black;
}

/* Navbar */

.navbar {
  color: midnightblue !important;
}

.navformdiv {
  color: white;
  user-select: none;
}

.req_box {
  width: 100%;
  height: auto;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.changeword {
  color: yellow;
}

/* home page start here */

.homemaindiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  flex-wrap: nowrap;
  margin-top: 50px;
}

.homeleft {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeright {
  width: 60%;
  height: auto;
}

.homeright > p {
  text-align: justify;
}

#heroimg {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

/* home page end here */

/* Media Query */

@media screen and (max-width: 960px) {
  .homeleft {
    display: none;
  }
  .homeright {
    width: 100%;
  }
}
