<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Suraj V Mudhole | Portoflio</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <!-- nav bar start here -->
      <nav
        class="navbar navbar-expand-lg bg-dark border-bottom border-body"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">SVM</a>
          <button
            class="navbar-toggler"
            type="button "
            data-bs-toggle="collapse "
            data-bs-target="#navbarSupportedContent "
            aria-controls="navbarSupportedContent "
            aria-expanded="false "
            aria-label="Toggle navigation "
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page " href="/"
                  >.home()</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">.about()</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">.works()</a>
              </li>
            </ul>
            <!-- <form class="d-flex" role="search ">
              <h4>https:localhost:3000/suraj/</h4>
              <input
                class="form-control me-2"
                type="text"
                name="userreq"
                placeholder="Search "
                aria-label="Search "
              />
              <button class="btn btn-outline-success" type="submit ">
                Search
              </button>
            </form> -->
            <div class="navformdiv">
              <form>
                <label for="userreq ">localhost:3000/suraj/</label
                ><span
                  ><input
                    style="
                      border: none !important;
                      border-bottom: 1px solid white !important;
                    "
                    type="text "
                    class="bg-dark"
                    id="userreq "
                    name="userreq "
                    placeholder="enter" /></span
                ><span>
                  <button
                    class="btn reqbtn btn-outline-success"
                    onclick="sendreq()"
                  >
                    Send
                  </button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </nav>
      <!-- nav bar end here -->
      <div class="reqinpbox">
        <!-- post  -->
        <div class="req_box">
          <p>
            <span class="fixword">https:localhost:3000/suraj/</span
            ><span class="changeword"></span>
          </p>
        </div>
      </div>
    </header>
    <main><%- body %></main>
    <footer></footer>
    <script src="./assest/script.js"></script>
  </body>
</html>
